doctype html
html(lang="en")
  head
    include ./components/meta

    title= title
    block css
  body
    block content
    block js
    input(type='hidden', name='_csrf', id='_csrf', value='#{csrfToken}')

    include ./components/ga
    include ./components/jaco
