doctype html
html(lang="en")
  head
    include ./components/meta
    include ./components/hotjar

    title= title
    block css
  body
    block content
    script.
      var USER_ID = '#{locals.userId}';
    block js
    input(type='hidden', name='_csrf', id='_csrf', value='#{csrfToken}')

    include ./components/ga
