extends layout

block css
  link(href='/css/now.css', rel='stylesheet')

block content
  #now

  input(type='hidden', name='_csrf', id='_csrf', value='#{csrfToken}')

block js
  script(src='/js/now.js')
