extends ./subpage

block subpage-content
  #signup-form
  input(type='hidden', name='_csrf', id='_csrf', value='#{csrfToken}')

block js
  script(src='/js/signup.js')

block css
  link(href='/css/signup.css', rel='stylesheet')
