@import './base';
@import '../animations/pulse';

/** Loading image */
.loading-image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  height: 100%;
  margin: 0 auto;
  opacity: 1;
  transition: opacity 500ms linear;

  @media (max-width: $screen-sm) {
    width: 100%;
  }


  &.fade-out {
    opacity: 0;
  }
}

.loading-image {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;

  .blurb-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 30px;
    margin-bottom: 15px;
  }

  .loading-bars-container {
    .bar {
      background-color: $red;
      height: 10px;
      max-width: 10%;
      min-width: 100px;
      border-radius: 5px;
      margin-bottom: 10px;

      &.pulse {
        @extend pulse;
      }
    }
  }
}
