@import './base';

$context-menu-height: calc($controls-height * .8);

.context-menu {
  width: 100%;
  position: fixed;
  left: 0;
  bottom: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: $context-menu-height;
  z-index: calc($active-article-z-index + 2);
  background-color: #faf9f8;
  box-shadow: 0px -2px 6px 0px rgba(0,0,0,0.20);
  cursor: pointer;

  @media (min-width: $screen-md) {
    width: 50%;
    left: 25%;
  }

  .menu-button {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;

    img {
      height: calc($context-menu-height * .5);
      width: calc($context-menu-height * .5);
    }

    .button-text {
      font-size: 15px;
      text-transform: uppercase;
    }
  }
}

.back-button-container {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100px;
  height: 50px;
  padding: 5px 10px;
  z-index: calc($active-article-z-index + 2);

  .back-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    background-color: #323232;
    color: white;
    border-radius: 20px;
    padding: 5px;
    text-align: center;
    cursor: pointer;

    .fa {
      padding-left: 5px;
    }

    .text {
      text-align: center;
      width: 100%;
    }
  }

}
