@import 'base';

$reveal-button-font-size: 20px;

.phone-number-input-container {
}

.phone-number-input-content {
  width: 100%;
  height: 100%;
  padding: 10px 20px;
  font-family: 'Open Sans Condensed';
  background-color: $blue !important;
  cursor: default !important;

  form {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
  }

  .form-content {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    &.expand {
      padding: 5% 20px;

      @media (max-width: $screen-md) {
          padding: 5% 10px;
      }
    }

    .blurb {
      color: white;
      font-size: 20px;
      width: 100%;
      margin: 10px 0;

      @media (max-width: $screen-md) {
        font-size: 12px;
      }

    }
  }

  .form-submit {
    width: 30%;
    display: flex;
    flex-direction: row;
    align-items: center;

    .submit {
      margin: 0 auto;
      appearance: none;
      background-color: white;
      color: $blue;
      border: 1px solid transparent;
      font-size: 30px;
      height: 40px;
      width: 75%;
      transition: all 200ms linear;
      cursor: pointer;
      width: 100%;

      @media (max-width: $screen-md) {
        font-size: 20px;
        height: 30px;
      }

      &:hover {
        color: white;
        background-color: $blue;
        border: 1px solid white;
      }

      &.disabled {
        opacity: .6;
      }
    }
  }

  .errors {
    color: $red;
    font-size: 12px;
  }
}

.phone-number-input {
  background: transparent;
  color: white;
  border: none;
  border-bottom: 1px solid white;
  width: 100%;
  font-size: 20px;
  height: 30px;
  outline: none;

  &.error {
    border: 1px solid $red;
  }

  &:before {
    content: "Mobile Phone";
    position: absolute;
    font-size: 12px;
    top: -15px;
    left: 0;
    color: white;
  }

  &:after {
    content: "We will never spam or share your number";
    font-size: 10px;
    bottom: -15px;
    color: white;
  }
}
