@import ./base;
@import ./signup;

.profile-page-container {
  position: fixed;
  top: 100%;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: white;
  z-index: calc($active-article-z-index * 2);
  transition: top 250ms ease-out;

  &.show {
    top: 0;
  }

  &.profile-page-signup {
    background: url(/img/aerial-detroit.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      background: rgba(0, 0, 0, .5);
      width: 100%;
      height: 100%;
    }

    .form-title {
      margin: 10% auto;

      &.breaking {
        margin: 10px auto;
      }

      @media (max-width: $screen-sm) {
        font-size: 20px;
      }
    }

  }
}

.profile-page-header {
  background-color: $red;
  height: $header-height-lg;
  width: 100%;
  color: white;
  position: relative;
  z-index: 2;

  @media (max-width: $screen-sm) {
    height: $header-height-sm;
  }

  .header-title {
    text-transform: uppercase;
    text-align: center;
    width: 100%;
    font-size: 25px;
    line-height: $header-height-lg;

    @media (max-width: $screen-sm) {
      line-height: $header-height-sm;
    }
  }

  .close-profile {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 10%;
    text-align: center;
    color: white;
    opacity: .6;
    cursor: pointer;
    line-height: $header-height-lg;

    @media (max-width: $screen-sm) {
      line-height: $header-height-sm;
    }
  }
}

.profile-page-content {
  width: 100%;
  position: relative;
  z-index: 2;

  .profile-page {
    width: 75%;
    margin: 0 auto;
  }
}

.profile-title-container {
  text-align: center;
  margin: 15px 0px;

  .profile-title {
    font-size: 20px;
    line-height: 30px;
    height: 30px;
    width: 100%;
  }

  .profile-subtitle {
    font-size: 12px;
    line-height: 15px;
    height: 15px;
  }

}

.breaking-news-status {
  margin: 30px 0px;
}

.logout-button-container {
  width: 100%;
  margin: 20px 0px;

  .logout-button {
    width: 50%;
    margin: 0 auto;
    color: $light-blue;
    border: 1px solid $light-blue;
    background: transparent;
    font-size: 20px;
    line-height: 40px;
    height: 40px;
    border-radius: 20px;
    text-align: center;
    cursor: pointer;
    transition: all 250ms linear;

    &:hover {
      background-color: $light-blue;
      color: white;
    }
  }
}
