@import 'base';
@import 'mixins';
@import 'speed-reader';

body.photo-loading {
  overflow: hidden;
}

.active-article-container {
  width: 100%;
  z-index: $active-article-z-index;
  align-items: center;
  color: black;
  display: flex;
  flex-direction: column;
  opacity: 1;
  transition: opacity 250ms linear;

  &.photo-loaded {

    .article-image {
      background-size: auto 100%;
      opacity: 1;

      @media (min-width: $screen-md) {
        background-size: 75% auto;
      }
    }

    .article-content-container {
      opacity: 1 !important;
    }
  }

  &.speed-reading {
    .active-article {
      display: none;
    }
  }

  &.fade-out-article {
    opacity: 0;
  }

  &:after {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 0%;
    height: 0%;
    background-color: transparent;
    transition: background-color 250ms linear;
    transition-delay: 10ms;
  }

  &.fade-in-speed-reader:after {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    z-index: $active-image-z-index + 1;
  }

  .article-image {
    background-position: top;
    background-repeat: no-repeat;
    position: fixed;
    top: 0;
    left: 0;
    height: calc($active-article-top-padding * 1.2);
    width: 100%;
    z-index: $active-image-z-index;
    transition: all 500ms linear;
    background-size: auto 75%;
    opacity: 0;

    @media (min-width: $screen-md) {
      background-size: 75% auto;
    }
  }
}


.active-article {
  width: 100%;
  padding-top: $active-article-top-padding;
  overflow-y: auto;
  position: relative;
  background-color: transparent;
  transition: background-size 400ms linear;

  &.fade-out {

    &:before {
      background-color: white;
      z-index: $active-image-z-index + 1;
    }

    .article-image {
      background-size: auto 75%;
      opacity: 0;

      @media (min-width: $screen-md) {
        background-size: 75% auto;
      }
    }
  }

  &:before {
    content: "";
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: transparent;
    z-index: $active-image-z-index;
    transition: background-color 400ms linear;
  }

  @media (min-width: $screen-md) {
    margin: 0 auto;
  }
}

.article-content-container {
  width: 100%;
  position: relative;
  background-color: white;
  z-index: calc($active-image-z-index * 2);
  opacity: 0;
  transition: opacity 250ms linear;

  .article-content {
    display: flex;
    flex-direction: column;
    padding: 0px $article-content-padding;

    &.fade-in {
      .summary-container {
        opacity: 1;
      }
    }

    .title {
      font-size: 25px;
      line-height: 35px;
      margin: 10px 0px;
      font-weight: 500;
    }

    .readers-container {
      display: flex;
      flex-direction: row;
      font-size: 11px;
      align-items: center;
      margin-top: 5px;
      color: black;

      .pipe-divider {
        margin: 0px 10px;
      }
    }

    .readers {
      color: grey;
      font-size: 22px;
      margin: 10px 0px;
      align-self: left;
    }


    .summary-container {
      opacity: 0;
      transition: opacity 250ms linear;
      margin-bottom: 20px;

      .summary-title {
        font-size: 15px;
        text-align: center;
        margin: 20px 0px 30px 0px;
      }

      .summary-sentence {
        margin-bottom: 15px;

        .summary-index {
          margin: 10px auto;
          width: 25px;
          height: 25px;
          font-size: 15px;
          line-height: 25px;
          border-radius: 50%;
          background-color: $red;
          color: white;
          text-align: center;
          font-weight: 500;
        }

        .sentence {
          font-size: $summary-font-size;
          line-height: calc($summary-font-size * 1.5);
        }
      }
    }
  }
}


.article-loading {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: $red;
  z-index: $active-article-z-index - 10;
  padding-top: 30%;

  &.show {
    display: flex;
  }
}

.speed-reader-container {
  z-index: calc($active-article-z-index + 1);
}

.keep-scrolling {
  width: 100%;
  text-align: center;
  background-color: white;
  z-index: $active-article-z-index;
  padding-bottom: 20px;

  img {
    height: 30px;
    width: 30px;
  }

  .text-box {
    box-shadow: 0px 2px 4px 1.5px rgba(0, 0, 0, 0.25);
    font-size: $summary-font-size;
    width: 90%;
    margin: 0 auto;
    line-height: 24px;
    font-weight: 500;
    padding: 10px;
  }
}
