@import 'base';
@import 'mixins';
@import 'speed-reader';

$active-article-z-index: 100;
$active-image-z-index: 1;
$article-content-padding: 15px;

$summary-font-size: 20px;

$start-speed-reader-height: 50px;
$controls-height: 65px;

.active-article-container {
  width: 100%;
  background-color: rgba(0, 0, 0, .5);
  z-index: $active-article-z-index;
  align-items: center;
  color: black;
  display: flex;
  flex-direction: column;

  &.photo-loaded {

    .article-image {
      background-size: auto 100%;
      opacity: 1;
    }

    .article-content-container {
      opacity: 1 !important;
    }
  }

  &.speed-reading {
    .active-article {
      display: none;
    }
  }

  &:after {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 0%;
    height: 0%;
    background-color: transparent;
    transition: background-color 250ms linear;
    transition-delay: 10ms;
  }

  &.fade-in-speed-reader:after {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    z-index: $active-image-z-index + 1;
  }

  .article-image {
    background-position: top;
    background-repeat: no-repeat;
    position: fixed;
    top: 0;
    left: 0;
    height: 50%;
    width: 100%;
    z-index: $active-image-z-index;
    transition: all 500ms linear;
    background-size: auto 75%;
    opacity: 0;
  }
}


.active-article {
  width: 100%;
  padding-top: 30vh;
  overflow-y: auto;
  position: relative;
  background-color: transparent;
  transition: background-size 400ms linear;

  &.fade-out {

    &:before {
      background-color: white;
      z-index: $active-image-z-index + 1;
    }

    .article-image {
      background-size: auto 75%;
      opacity: 0;
    }
  }

  &:before {
    content: "";
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: transparent;
    z-index: $active-image-z-index;
    transition: background-color 400ms linear;
  }

  &:after {
    content: "";
    height: 0;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    box-shadow: 0 0 200px 75vh white;
    z-index: $active-image-z-index;
    background-color: transparent;
  }

  @media (min-width: $screen-md) {
    margin: 0 auto;
  }
}

.article-content-container {
  width: 100%;
  position: relative;
  background-color: transparent;
  z-index: calc($active-image-z-index * 2);
  opacity: 0;
  transition: opacity 250ms linear;

  .article-content {
    display: flex;
    flex-direction: column;
    padding: 0px $article-content-padding;

    &.fade-in {
      .summary-container {
        opacity: 1;
      }
    }

    .title {
      font-size: 30px;
      margin: 10px 0px;
    }

    .subtitle-container {
      display: flex;
      flex-direction: row;
    }

    .readers {
      color: grey;
      font-size: 12px;
      margin: 10px 0px;
      width: 50%;
      align-self: left;
    }


    .summary-container {
      opacity: 0;
      transition: opacity 250ms linear;
      margin-bottom: 50px;

      .summary-sentence {
        margin-bottom: 15px;

        .summary-index {
          margin-bottom: 10px;
          font-size: $summary-font-size * .5;
        }

        .sentence {
          font-size: $summary-font-size;
          line-height: calc($summary-font-size * 1.5);
        }
      }
    }

    .article-controls {
      width: 100%;
      position: fixed;
      left: 0;
      bottom: 0;
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      height: $controls-height;

      @media (min-width $screen-md) {
        width: 50%;
        margin: 0 auto;
      }

      .control-container {
        height: $controls-height;
        flex-grow: 1;
        display: flex;
        flex-direction: row;
        align-items: center;
        &.close-article {
          .control {
            @mixin button $blue, calc($controls-height * .8);
            background-color: $blue;
          }
        }

        &.start-speed-reader {
          .control {
            @mixin button $yellow, calc($controls-height * .8);
            background-color: $yellow;
          }
        }

        .control {
          margin: 0 auto;
          position: relative;
          font-size: 12px;
          text-align: center;
          color: white;
          display: flex;
          flex-direction: row;
          align-items: center;


          .control-text {
            width: 100%;
            text-align: center;
          }
        }
      }

    }
  }
}

.article-loading {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: $yellow;
  z-index: $active-article-z-index - 10;
  padding-top: 30%;

  &.show {
    display: flex;
  }
}

.speed-reader-container {
  position: fixed;
  top: 50%;
  left: 0%;
  width: 100%;
  height: 0%;
  background-color: white;
  z-index: calc($active-article-z-index * 2);
  transition: all 500ms ease-in;

  &.active {
    top: 0%;
    height: 100%;
  }
}
