@import './base';

$active-article-z-index: 100;
$active-image-z-index: 1;
$article-content-padding: 15px;

$summary-font-size: 20px;

$start-speed-reader-height: 50px;

.active-article-container {
  width: 100%;
  background-color: rgba(0, 0, 0, .5);
  z-index: $active-article-z-index;
  display: flex;
  flex-direction: column;

  &.loading {
    color: white;
    flex-direction: row;
    align-items: center;
  }

  .articleImage {
    background-position: top;
    background-size: auto 100%;
    background-repeat: no-repeat;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: $active-image-z-index;
  }
}


.active-article {
  width: 100%;
  padding-top: 80%;
  overflow-y: auto;
  position: relative;
  background-color: transparent;
  transition: background-size 400ms linear;

  &.fade-out {
    background-size: auto 175%;
    &:before {
      background-color: white;
    }
  }

  &:before {
    content: "";
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: transparent;
    z-index: $active-image-z-index;
    transition: background-color 400ms linear;
  }

  &:after {
    content: "";
    height: 0;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    box-shadow: 0 0 200px 50vh white;
    z-index: $active-image-z-index;
    background-color: transparent;
  }

  @media (min-width: $screen-md) {
    margin: 0 auto;
    padding-top: 20%;

    &:after {
      box-shadow: 0 0 200px 70vh white;
    }
  }
}

.article-content-container {
  width: 100%;
  position: relative;
  background-color: transparent;
  z-index: calc($active-image-z-index * 2);

  .article-content {
    display: flex;
    flex-direction: column;
    padding: 0px $article-content-padding;

    .title {
      font-size: 30px;
      margin: 10px 0px;
    }

    .subtitle-container {
      display: flex;
      flex-direction: row;

      .start-speed-reader-container {
        height: 0;

        .start-speed-reader {
          position: absolute;
          left: 40%;
          top: calc($start-speed-reader-height / -2);
        }
      }
    }

    .readers {
      color: grey;
      font-size: 12px;
      margin: 10px 0px;
      width: 50%;
      align-self: left;
    }


    .summary-container {
      .summary-sentence {
        margin-bottom: 15px;

        .summary-index {
          margin-bottom: 10px;
          font-size: $summary-font-size * .5;
        }

        .sentence {
          font-size: $summary-font-size;
          line-height: calc($summary-font-size * 1.5);
        }
      }
    }

    .article-controls {
      width: 100%;
      margin-bottom: 20px;
      display: flex;
      flex-direction: column;

      @media (min-width $screen-md) {
        width: 50%;
        margin: 0 auto;
      }

      .start-speed-reader-container {
        min-height: calc($start-speed-reader-height * 1.5);
      }

      .close-article {
        background-color: $blue;
        width: 100%;
        color: white;
        text-align: center;
        font-size: 30px;
        line-height: 40px;
        margin-bottom: 20px;
        cursor: pointer;
      }
    }
  }
}

.start-speed-reader-container {
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 50%;

  .start-speed-reader {
    border-radius: 50%;
    width: $start-speed-reader-height;
    height: $start-speed-reader-height;
    font-size: calc($start-speed-reader-height / 5);
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    background-color: $yellow;
    color: white;
    opacity: 1;
    cursor: pointer;
    box-shadow: 0 0 .3em black;
    transition: all 400ms linear;

    &:hover {
      box-shadow: 0 0 1em black;
    }

    &.shrink {
      width: 0px;
      height: 0px;
      top: 0px;
      left: 50%;
      font-size: 0px;
    }
  }
}

/** Speed reader stuffs */
.michspeed  .michspeed-backdrop, .michspeed-container {
  z-index: calc($active-article-z-index * 2);
  font-size: 15px;
}

.michspeed {
  height: 100%;
  overflow-y: auto;

  footer {
    margin-bottom: 50px;
  }
}

.article-loading {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: $yellow;
  z-index: $active-article-z-index - 10;
  padding-top: 30%;

  &.show {
    display: flex;
  }
}
