@import 'https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css';

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Open Sans","Helvetica Neue",sans-serif;
  letter-spacing: 0;
  font-weight: 300;
  font-style: normal;
  text-transform: none;
  color: rgba(0,0,0,0.87);
}

*, *:before, *:after {
  box-sizing: border-box;
}

$yellow: #eec435;
$blue: #3b99d9;
$green: #39cb72;
$red: #e14e48;


/* Stole from bootstrap until we decide what we wanna do */
$screen-md: 992px;
$screen-sm: 768px;
$notdesktop: new-breakpoint(max-width 991px 12);
$desktop: new-breakpoint(min-width 992px 12);
$mobile: new-breakpoint(max-width 768px 12);

$start-speed-reader-height: 50px;
$controls-height: 65px;
$controls-background-color: rgb(242, 242, 242);

$article-height: 70px;
$article-height-lg: 100px;

$active-article-z-index: 100;
$active-image-z-index: 1;
$article-content-padding: 15px;
$active-article-top-padding: 30vh;

$summary-font-size: 15px;

/* container info */
$header-height-sm: 60px;
$header-height-lg: 100px;
$header-z-index: calc($active-article-z-index / 2);

$filter-height: 65px;
$filter-circle-height: calc($filter-height * .5);
$filter-name-height: calc($filter-height * .3);

$top-article-z-index: $active-article-z-index;


.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.container {
  margin: 0 10%;
}

.hidden {
  display: none !important;
}
