@import './base';

$context-menu-height: calc($controls-height * .8);

.context-menu {
  width: 100%;
  position: fixed;
  left: 0;
  bottom: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: $context-menu-height;
  z-index: calc($active-article-z-index + 2);
  background-color: #f2f2f2;
  box-shadow: 0px 1px 10px -1px black;
  cursor: pointer;

  @media (min-width $screen-md) {
    width: 50%;
    margin: 0 auto;
  }

  .menu-button {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;

    img {
      height: calc($context-menu-height * .5);
      width: calc($context-menu-height * .5);
    }

    .button-text {
      font-size: 15px;
      text-transform: uppercase;
    }
  }
}

