@import './components/base';
@import 'mixins';
@import './components/active-article';
@import './components/nav-controls';
@import './components/top-article';
@import './components/phone-number-input';
@import './components/header';
@import './components/loading-image';
@import './components/profile-page';


@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);

body {
  min-height: 100%;
  font-family: 'Open Sans', sans-serif;
  overflow-x: hidden;
}

.dashboard-container {
  width: 100%;

  &.articles-loading {
    .definitions {
      opacity: 0;
    }
  }

  .definition-container, .top-articles-container  {
    width: 50%;
    margin: 0 auto;
    position: relative;

    @media (max-width: $screen-sm) {
      padding: 0;
    }
  }

  .definition-container {
    opacity: 1;
    transition: opacity 250ms linear;
    background: white;

    @media (max-width: $screen-sm) {
      width: 100%;
    }

    .definitions {
      height: $definition-height;
      display: flex;
      flex-direction: row;
      align-items: flex-end;
      width: 90%;
      margin: 0 auto;
    }

    .articles, .readers-container {
      font-size: 12px !important;
      line-height: 15px !important;
      height: 15px !important;
    }

    .articles {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-left: 10px;
    }

    .readers {
      color: black !important;
      align-items: flex-end !important;
      margin-right: 10px;
      font-size: inherit;
    }
  }

  .top-articles-container {
    min-height: 100vh;
    position: relative;
    background: white;
    display: block;
    margin-bottom: 10px;

    @media (max-width: $screen-sm) {
      width: 100%;
    }

    .loading {
      display: flex;
      flex-direction: column;
      text-align: center;
      padding-top: 20%;
    }
  }
}

.filters-container {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  height: $filter-height;
  transition: bottom 250ms linear;

  &, & * {
    z-index: calc($header-z-index - 1);
  }

  .includes {
    font-size: 10px;
    text-align: center;
    text-transform: uppercase;
  }

  .filters {
    background-color: #f2f2f2;
    box-shadow: 0px -2px 6px 0px rgba(0,0,0,0.20);
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 50%;
    margin: 0 auto;
    padding: 0;
    height: 100%;
    top: 0;
    left: 0;
    transition: top 500ms ease-in;

    @media (max-width: $screen-sm) {
      width: 100%;
    }
  }
}

.section-filter {
  width: calc($filter-height);
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
  cursor: pointer;
  opacity: .38;
  transition: all 150ms linear;

  &.active {
    opacity: 1;
    .active-icon {
      opacity: 1 !important;
    }

    .icon {
      opacity: 0 !important;
    }
  }

  .section-circle {
    height: calc($filter-height * .45);
    width: calc($filter-height * .45);
    cursor: pointer;
    position: relative;

    .icon, .active-icon {
      height: 100%;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      transition: opacity 250ms linear;
      display: flex;
      flex-direction: row;
      align-items: center;
      text-align: center;
      border-radius: 50%;

      img {
        width: 100%;
      }
    }

    .icon {
      background: white;
      opacity: 1;
    }

    .active-icon {
      background-color: $red;
      color: white;
      opacity: 0;
    }
  }

  .section-filter-name {
    font-size: calc($filter-name-height * .5);
    text-transform: uppercase;
    margin: 0 auto;
    font-weight: 400;

    @media (max-width: $screen-sm) {
      font-size: calc($filter-name-height * .5)
    }
  }
}
