@import 'base';
@import 'mixins';
@import './animations/pulse';
@import './animations/smack';
@import './active-article';

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);

$article-height: 70px;
$article-height-lg: 100px;

/* container info */
$header-height-sm: 60px;
$header-height-lg: 100px;
$header-z-index: calc($active-article-z-index / 2);

$filter-height: 65px;
$filter-circle-height: calc($filter-height * .5);
$filter-name-height: calc($filter-height * .3);

$top-article-z-index: $active-article-z-index;

body {
  font-family: 'Open Sans', sans-serif;
  overflow-x: hidden;
  background-color: white;
}

#now {
  .dashboard-container {
    width: 100%;

    .header-container {
      height: $header-height-lg;

      @media (max-width: $screen-sm) {
        height: $header-height-sm;
      }
    }


    .top-articles-container {
      position: relative;
      display: block;
      width: 100%;
      margin-bottom: 10px;

      @media (max-width: $screen-sm) {

      }

      .loading {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-top: 20%;
      }
    }
  }
}

#header {
  position: fixed;
  width: 100%;
  z-index: 2;
  top: 0;
  left: 0;
  flex-direction: row;
  flex-wrap: wrap;
  z-index: $header-z-index;

  .site-info {
    height: 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: black;
    background-color: #31363a;
    overflow: hidden;
    transition: height 400ms ease-out;
    z-index: $header-z-index;

    &.show {
      height: 50vh;

      @media (max-width: $screen-sm) {
        height: 70vh;
      }
    }

    .info-content {
      margin: 0 auto;
      height: 100%;
      align-items: center;
      padding: 20px 15%;
      overflow: scroll;
      color: white;

      .info-header {
        font-size: 22px;
        line-height: calc(22px * 1.4);
        font-weight: 600;
        font-family: 'Open Sans';
      }

      .list p {
        margin: 10px 0;
      }

      .feedback {
        text-align: center;
      }
    }

    #email-us {
      font-weight: 600;
      font-size: 16px;
      line-height: 45px;
      height: 45px;
      width: 40%;
      display: block;
      background-color: #71BF44;
      text-align: center;
      text-decoration: none;
      color: white;
      z-index: $header-z-index;
      border-radius: 5%;
      margin: 0 auto;

      &:hover {

      }
    }
  }

  .header-info {
    background-color: $red;
    color: white;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    z-index: $header-z-index;
    box-shadow: 0px 4px 6px 0px rgba(0,0,0,0.20);
    height: $header-height-lg;

    @media (max-width: $screen-sm) {
      height: $header-height-sm;
    }
  }

  #page-header {
    text-transform: uppercase;
    color: white;
    font-weight: bold;
    font-family: 'Open Sans';
    font-weight: 800;
    width: 70%;
    font-size: 26px;
    line-height: 30px;
    margin-left: 13px;
    min-width: 200px;

    @media (min-width: $screen-md) {
      width: 70%;
      margin-left: 20px;
      text-align: left;
      font-size: 30px;
      line-height: 50px;
    }
  }

  #readers {
    color: $blue;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    font-family: 'Open Sans';
    font-weight: normal;
    text-transform: uppercase;
    text-transform: center;
    width: 25%;
    padding: 0;

    @media (min-width: $screen-md) {
      width: 15%;
    }

    #glasses {
      width: 50px;
      margin-right: 15px;
      display: inline-block;
      text-align: left;
      color: $blue;

      @media (max-width: $screen-sm) {
        display: none;
      }

      img {
        width: 100%;
      }
    }

    #numbers {
      display: inline-block;
      text-align: center;
      color: color(white a(70%));

      @media (max-width: $screen-sm) {
        width: 100%;
      }
    }
  }

  #info {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-right: 15px;
    width: 5%;

    .info-button {
      width: 18px;
      height: 18px;
      line-height: 17px;
      font-size: 13px;
      border-radius: 50%;
      background-color: color(white a(40%));
      color: black;
      text-align: center;
      cursor: pointer;
      font-family: 'Lora';
    }
  }

}

.filters-container {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  height: $filter-height;
  background-color: #f2f2f2;
  box-shadow: 0px -2px 6px 0px rgba(0,0,0,0.20);
  transition: bottom 250ms linear;

  &, & * {
    z-index: calc($header-z-index - 1);
  }

  .filters {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    padding: 0;
    height: 100%;
    top: 0;
    left: 0;
    transition: top 500ms ease-in;
  }
}

.section-filter {
  width: calc($filter-height);
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
  cursor: pointer;
  transition: all 150ms linear;

  &.active {
    .active-icon {
      opacity: 1 !important;
    }

    .icon {
      opacity: 0 !important;
    }
  }

  .section-circle {
    height: $button-height;
    width: $button-height;
    cursor: pointer;
    position: relative;

    .icon, .active-icon {
      height: 100%;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      transition: opacity 250ms linear;
      display: flex;
      flex-direction: row;
      align-items: center;
      text-align: center;
      border-radius: 50%;

      img {
        width: 100%;
      }
    }

    .icon {
      background: white;
      opacity: 1;
    }

    .active-icon {
      background-color: $red;
      color: white;
      opacity: 0;
    }
  }

  .section-filter-name {
    font-size: calc($filter-name-height * .8);
    text-transform: uppercase;
    margin: 0 auto;
    font-weight: 400;

    @media (max-width: $screen-sm) {
      font-size: calc($filter-name-height * .7)
    }
  }
}

.top-article-container {
  height: $article-height;
  position: absolute;
  width: 90%;
  margin: 0 5%;
  display: flex;
  flex-direction: row;
  align-items: center;
  top: 100%;
  transition: width 500ms linear, margin 500ms linear;
  z-index: 1;

  &.clicked {
    width: 100%;
    margin: 0%;
    z-index: $top-article-z-index;

    &, & * {
      z-index: calc($top-article-z-index + 2);
    }

    &:before {
      content: "";
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, .8);
    }

    .top-article {
      height: 200vh;
      top: -100vh;

      * {
        opacity: 0;
      }
    }
  }


  /* Desktop, etc */
  @media (min-width: $screen-md) {
    height: $article-height-lg;
    width: 70%;
    margin: 0 15%;
  }
}

.top-article {
  @extend smack;
  width: 100%;
  top: 0%;
  left: 0%;
  height: 100%;
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 2px;
  background: #fefefe;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
  cursor: pointer;
  transition: height 250ms linear, top 250ms linear;
  transition-delay: 500ms;

  * {
    opacity: 1;
    transition: opacity 200ms linear;
  }

  &:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: white;
    opacity: 0;
    transition: opacity 250ms linear, height 250ms linear, width 250ms linear;
    transition-delay: 250ms;
  }

  .readers-container {
    color: $red;
    height: 75%;
    position: relative;
    border-right: 1px solid color(black a(12%));
    text-align: center;
    width: 20%;
    display: flex;
    flex-direction: row;
    align-items: center;

    @media (min-width: $screen-md) {
      font-size: 30px;
      width: 20%;
    }

    .readers {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      font-family: 'Open Sans';
      font-weight: 300;
      font-size: 20px;
    }
  }

  .headline {
    font-size: 14px;
    font-family: 'Open Sans';
    font-weight: 600;
    height: $article-height;
    color: black;
    font-weight: bold;
    width: 80%;
    padding: 0px 20px;
    display: flex;
    flex-direction: row;
    align-items: center;

    @media (min-width: $screen-md) {
      padding: 20px;
      font-size: calc($article-height * .4);
    }
  }

  &.clicked {
    .headline {
      font-weight: normal;
    }
  }
}



/** Loading image */
.loading-image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  height: 100%;
  margin: 10% auto;
  opacity: 1;
  transition: opacity 500ms linear;

  @media (max-width: $screen-sm) {
    width: 100%;
  }


  &.fade-out {
    opacity: 0;
  }
}

.loading-image {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 90%;

  .blurb-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 30px;
    margin-bottom: 15px;
  }

  .loading-bars-container {
    .bar {
      background-color: $red;
      height: 10px;
      max-width: 10%;
      min-width: 100px;
      border-radius: 5px;
      margin-bottom: 10px;

      &.pulse {
        @extend pulse;
      }
    }
  }
}
