@import 'base';
@import './animations/pulse';
@import './animations/smack';
@import './active-article';

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);

$article-height: 50px;

/* container info */
$header-height-sm: 30px;
$header-z-index: calc($active-article-z-index / 2);

$filter-height: 65px;
$filter-circle-height: calc($filter-height * .5);
$filter-name-height: calc($filter-height * .3);

$top-article-z-index: $active-article-z-index;

body {
  font-family: 'Open Sans', sans-serif;
  overflow-x: hidden;
  background-color: white;
}

#now {
  .dashboard-container {
    width: 100%;

    .header-container {
      height: calc($header-height-sm + $filter-height);
    }

    .filters-container {
      width: 100%;
      position: relative;
      display: flex;
      flex-direction: row;
      align-items: stretch;
      overflow: hidden;
      height: $filter-height;

      &, & * {
        z-index: calc($header-z-index - 1);
      }

      .filters {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
        padding: 0;
        height: 90%;
        position: absolute;
        top: 0;
        left: 0;
        transition: top 250ms linear;
        background: white;
        border-bottom: 1px solid blue;
        padding: 10px 0px;
        box-shadow: 0px 4px 6px 0px rgba(0,0,0,0.20);
      }
    }

    .top-articles-container {
      position: relative;
      display: block;
      width: 100%;

      @media (max-width: $screen-sm) {

      }

      .loading {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-top: 20%;
      }
    }
  }
}

#header {
  position: fixed;
  text-align: center;
  width: 100%;
  z-index: 2;
  top: 0;
  left: 0;
  flex-direction: row;
  flex-wrap: wrap;

  #today {
    width: 100%;
  }

  .header-info {
    background-color: $yellow;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    z-index: $header-z-index;
    box-shadow: 0px 4px 6px 0px rgba(0,0,0,0.20);
  }

  #page-header {
    text-transform: uppercase;
    color: black;
    font-weight: bold;
    font-size: 30px;
    line-height: 50px;

    @media (max-width: $screen-sm) {
      width: 50%;
      font-size: 20px;
      line-height: 30px;
    }
  }

  #today {
    text-transform: capitalize;
    color: black;
    font-size: 20px;
    line-height: 35px;
    text-align: center;
  }

  #readers {
    color: $blue;
    font-size: 15px;
    line-height: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    color: $blue;

    @media (max-width: $screen-sm) {
      width: 50%;
      padding: 0;
    }

    #glasses {
      width: 15%;
      margin-right: 15px;
      display: inline-block;
      text-align: left;
      color: $blue;

      @media (max-width: $screen-sm) {
        display: none;
      }

      img {
        width: 100%;
      }
    }

    #numbers {
      display: inline-block;
      text-align: center;

      @media (max-width: $screen-sm) {
        width: 100%;
      }
    }
  }
}

.section-filter {
  width: calc($filter-height);
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
  cursor: pointer;
  transition: all 150ms linear;
  color: $blue;

  .section-circle {
    height: $filter-circle-height;
    width: $filter-circle-height;
    position: relative;

    .icon, .active-icon {
      height: 100%;
      width: 100%;
      position: absolute;
      border-radius: 50%;
      top: 0;
      left: 0;
      transition: opacity 250ms linear;
      display: flex;
      flex-direction: row;
      align-items: center;

      .fa {
        width: 100%;
        font-size: calc($filter-circle-height * .5);
      }
    }

    .icon {
      background: white;
      color: $blue;
      opacity: .5;
      border: 1px solid blue;
    }

    .active-icon {
      background: $blue;
      color: white;
      opacity: 0;

      &.active {
        opacity: 1;
      }
    }
  }

  .section-filter-name {
    font-size: calc($filter-name-height * .8);
    text-transform: capitalize;
    margin: 0 auto;

    @media (max-width: $screen-sm) {
      font-size: calc($filter-name-height * .5)
    }
  }
}

.top-article-container {
  height: $article-height;
  position: absolute;
  width: 90%;
  margin: 0 5%;
  display: flex;
  flex-direction: row;
  align-items: center;
  top: 100%;
  transition: all 500ms linear;
  z-index: 1;

  &.clicked {
    width: 100%;
    margin: 0%;
    z-index: $top-article-z-index;

    &, & * {
      z-index: calc($top-article-z-index + 2);
    }

    &:before {
      content: "";
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, .8);
    }

    .top-article {
      height: 200vh;
      top: -100vh;

      * {
        opacity: 0;
      }
    }
  }


  /* Desktop, etc */
  @media (min-width: $screen-md) {
    height: calc($article-height * 2);
    width: 70%;
    margin: 0 15%;
  }
}

.top-article {
  @extend smack;
  width: 100%;
  top: 0%;
  left: 0%;
  height: 100%;
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 2px;
  background: #fefefe;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
  cursor: pointer;
  transition: height 250ms linear, top 250ms linear;
  transition-delay: 500ms;

  * {
    opacity: 1;
    transition: opacity 200ms linear;
  }

  &:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: white;
    opacity: 0;
    transition: opacity 250ms linear, height 250ms linear, width 250ms linear;
    transition-delay: 250ms;
  }

  .readers-container {
    font-size: calc($article-height * .3);
    color: $blue;
    height: 75%;
    position: relative;
    border-right: 1px solid #eee;
    text-align: center;
    width: 20%;
    display: flex;
    flex-direction: row;
    align-items: center;

    @media (min-width: $screen-md) {
      font-size: calc($article-height);
      width: 20%;
    }

    .readers {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
    }
  }

  .headline {
    font-size: calc($article-height * .2);
    height: $article-height;
    color: black;
    font-weight: bold;
    width: 80%;
    padding: 0px 20px;
    display: flex;
    flex-direction: row;
    align-items: center;

    @media (min-width: $screen-md) {
      padding: 20px;
      font-size: calc($article-height * .4);
    }
  }

  &.clicked {
    .headline {
      font-weight: normal;
    }
  }
}



/** Loading image */
.loading-image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  height: 100%;
  margin: 10% auto;
  opacity: 1;
  transition: opacity 500ms linear;

  @media (max-width: $screen-sm) {
    width: 100%;
  }


  &.fade-out {
    opacity: 0;
  }
}

.loading-image {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;

  .blurb-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 30px;
    margin-bottom: 15px;
  }

  .loading-bars-container {
    .bar {
      background-color: $yellow;
      height: 10px;
      max-width: 10%;
      min-width: 100px;
      border-radius: 5px;
      margin-bottom: 10px;

      &.pulse {
        @extend pulse;
      }
    }
  }
}
