@import 'base';
@import 'mixins';
@import 'animations/smack';

$speed-reader-font-size: 30px;
$controls-height: 65px;
$speed-control-height: 15vh;

.speed-reader {
  opacity: 0;
  transition: opacity 250ms linear;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  &.fade-in {
    opacity: 1;
  }

  .context {
    height: 20vh;
    width: 100%;
    opacity: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    transition: opacity 250ms linear;
    padding: 10px;

    .current-context {
      width: 90%;
      margin: 0 auto;
      font-size: 12px;
      color: grey;

      .context-element {
        color: grey;
        opacity: .7;

        &.current-word {
          opacity: 1;
          color: black;
          font-weight: bold;
        }
      }
    }
  }

  &.paused {
    .para {
      opacity: .7;
    }

    .fa-pause {
      opacity: 0 !important;
    }

    .fa-play {
      opacity: 1 !important;
    }

    .context {
      opacity: 1;
    }

    .wpm, .time-remaining {
      opacity: .7 !important;
    }

    .countdown-container {
      opacity: 0;
    }

    .controls {
      opacity: 0;
    }
  }

  .speed-reader-controls {
    width: 100%;

    .wpm, .time-remaining {
      height: 30px;
      line-height: 30px;
      font-size: 15px;
      width: 100%;
      opacity: 0;
      color: black;
      text-align: center;
      transition: opacity 250ms linear;
    }
  }

  .countdown-container {
    height: 50px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: .7;
    transition: opacity 250ms linear;

    .countdown-number {
      line-height: 50px;
      font-size: 30px;
      color: #dc0037;
      @extend smack;
    }
  }
}

.speed-controls {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;


  .button-container {
    width: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;

    .button {
      color: grey;
      border-radius: 50%;
      height: 50px;
      width: 50px;
      margin: 0 auto;
      position: relative;
      border: 1px solid grey;
      cursor: pointer;

      .fa {
        text-align: center;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        display: flex;
        flex-direction: row;
        align-items: center;
        background-color: white;
        border-radius: 50%;
        transition: opacity 250ms linear;

        &:before {
          width: 100%;
          text-align: center;
        }

        &.fa-pause {
          opacity: 1;
        }

        &.fa-play {
          opacity: 0;
        }
      }
    }
  }

  .para {
    width: 25%;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    opacity: 0;
    transition: opacity 250ms linear;

    &.next .fa:after {
      content: "next paragraph";
      position: absolute;
      right: -100%;
      top: 0;
      opacity: .7;
      font-size: 10px;
      right: 75%;
      width: 50%;
    }

    .fa {
      font-size: 20px;
      width: 100%;
      cursor: pointer;
    }
  }
}

.michspeed {
  width: 100%;
  height: calc($speed-reader-font-size * 3);
  font-size: $speed-reader-font-size;
  margin: .3em;
  display: flex;
  flex-direction: row;
  align-items: center;

  .michspeed-container {
    width: 100%;
  }
}

.michspeed-reticle {
    position: relative;
    width: 0px;
    height: 1em;
    display: inline-block;
}
.michspeed-reticle-top, .michspeed-reticle-bottom {
    position: absolute;
}
.michspeed-reticle-top {
    top: -1.1em;
    transform: scaley(0.75);
}
.michspeed-reticle-bottom {
    top: 1.1em;
    transform: rotate(180deg) scaleY(0.75);
}
.michspeed-orp {
  color: #dc0037;
}

.michspeed-lhs {
  display: inline-block;
  width: 47.5%;
  text-align: right;
}

.michspeed-word {
  font-size: $speed-reader-font-size;
  height: 1.33em;
}

.michspeed-infoline {
  display: none;
}

.controls {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: $controls-height;
  display: flex;
  flex-direction: row;
  flex-direction: center;
  opacity: 1;
  transition: opacity 250ms linear;

  .control-container {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .speed-button, .close-button {
    font-size: 12px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;

    .button-text {
      width: 100%;
      text-align: center;
    }
  }

  .speed-button {
    @mixin button white, calc($controls-height * .8);
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
  }

  .close-button {
    @mixin button $red, calc($controls-height * .8);
  }
}

.speed-control-container {
  width: 100%;
  height: $speed-control-height;
  position: fixed;
  bottom: $controls-height;
  overflow-x: scroll;

  &:before, &:after {
    content: "";
    position: fixed;
    bottom: $controls-height;
    width: 0;
    height: $speed-control-height;
    box-shadow: 0 0 23vw 15vw white;
    background-color: white;
    z-index: 200;
  }

  &:before {
    left: 0;
  }

  &:after {
    right: 0;
  }

  &::-webkit-scrollbar  {
    display: none;
  }

  .speed-control {
    position: relative;
    height: 100%;
    opacity: 0;
    transition: opacity 250ms linear;
    transition-delay: 250ms;
    overflow-x: scroll;
    background: linear-gradient(to right, $blue, $green, $yellow, $red);

    &::-webkit-scrollbar  {
      display: none;
    }

    &.draw {
      opacity: 1;
    }

    .speed-control-step {
      height: 100%;
      top: 0;
      width: 1px;
      background: red;
      position: absolute;

      .speed-val {
        color: red;
        position: absolute;
        top: 0;
        left: 100%;
        font-size: 7px;
      }
    }
  }
}

.center-bar {
  position: fixed;
  top: calc(100vh - $speed-control-height - $controls-height);
  width: 100vw;
  display: flex;
  flex-direction: row;

  .fa {
    width: 100%;
    text-align: center;
    font-size: 20px;
    height: 20px;
    position: absolute;
    top: -7px; /* TODO figure this out. there is margin on the top because of the :before content */
  }
}

