@import './components/base';
@import './components/loading-image';
@import './animations/smack';
@import './components/header';
@import './components/active-article';

.articles {
}

.loading-image-container {
  padding-top: 15px;
}

.stream-article-container {
  position: relative;
  width: 100%;
  margin-bottom: 10px;
}

.stream-article{
  width: 50%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  background-size: cover;
  border-radius: 2px;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
  cursor: pointer;

  @media (max-width: $screen-sm) {
    width: 95%;
  }

  .photo-container {
    width: 20%;
    height: 100%;
    background-color: #eee;
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: top;
  }

  .headline-container {
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;

    .headline {
      width: 100%;
      padding: 0 10px;
    }

    .published-time {
      height: 20%;
      color: grey;
      opacity: .7;
      font-size: 10px;
    }
  }
}

.time-frame {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 30%;
  padding: 5px;
  background-color: $red;
  color: white;

  @media (max-width: $screen-sm) {
    width: 100%;
  }

  .blurb {
    font-size: 12px;
    line-height: 15px;
    height: 15px;
    width: 100%;
  }

  .time-frame-time {
    width: 100%;
    font-size: 17px;
    height: 20px;
    line-height: 20px;
    font-weight: bold;
    text-align: center;
  }
}
